@charset "UTF-8";

@import "helpers/variables";
@import "helpers/mixins";

@import "base/normalize";

@import "components/slideshow";
@import "components/main-image";
@import "components/searchbox";
@import "components/thumbnails-list";
@import "components/thumbnail";


body, html, #root {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
