.thumbnails-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  overflow: hidden;
  width: calc(100% - 2em);
  height: 150px;
  padding: 0;
  margin: 1em;
  background-color: rgba(black, .05);
  border: 1px  solid rgba(black, .05);


  > li {
    &.active {
      opacity: .25;
    }

    display: inline-block;
    list-style: none;
    flex-grow: 1;
    width: calc(100% * (1/10) - 10px - 1px);
    background-color: black;
  }
}
