.thumbnail {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid #dadada;
  cursor: pointer;
  &:focus {
    outline: none;
    opacity: .2;
  }
}
