.thumbnail {
  width: 100px;
  height: 100px;
  background-image: no-repeat;
  background-color: red;
  display: inline-block;
  background-size: cover;
  background-position: center;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  border-right: 1px solid #dadada;
}
